<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="JIRA Regression e2e suite" parallel="classes" thread-count="1">
    <test name="e2e tests scope">
        <classes>
            <class name="e2e.IssueTest"/>
            <class name="e2e.CommentTest"/>
            <class name="e2e.LoginTest"/>
        </classes>
    </test>
</suite>