<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="JIRA Suite" parallel="false">
    <test name="Issue">
        <groups>
            <run>
                <include name="Regression"/>
<!--                <exclude name="SKIP"/>-->
            </run>
        </groups>
        <classes>
            <class name="e2e.issue_test"/>
        </classes>
    </test>
</suite>